{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="category_delete">
        <h1>Уверены, что хотите удалить категорию <strong>{{ category_to_delete.name }}</strong>?</h1>
        <form action="{% url 'admin:category_delete' object.pk %}" method="post" class="button-delete">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:categories' %}">отмена</a>
        </button>
    </div>
{% endblock %}